<nb-card>
  <nb-card-header style="display: flex; justify-content: space-between;">
    <label class="label col-form-label">Create User</label>
    <!-- <button type="button" nbButton status="primary" [routerLink]="['/pages/users/user-list']">User List</button> -->
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12 offset-lg-4 offset-md-3"
      >
        <div class="form-group row">
          <label class="label col-3 col-form-label" for="firstName"
            >First Name:</label
          >
          <div class="col-9">
            <input
              nbInput
              id="firstName"
              type="text"
              fullWidth
              autocomplete="off"
              [status]="
                registrationForm.controls.firstName.dirty
                  ? registrationForm.controls.firstName.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                registrationForm.controls.firstName.invalid &&
                registrationForm.controls.firstName.touched
                  ? true
                  : null
              "
              formControlName="firstName"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.firstName.invalid &&
                registrationForm.controls.firstName.touched
              "
            >
              <p
                class="caption status-danger"
                *ngIf="registrationForm.controls.firstName.errors?.required"
              >
                First Name is required
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-3 col-form-label" for="lastName"
            >Last Name:</label
          >
          <div class="col-9">
            <input
              nbInput
              id="lastName"
              type="text"
              fullWidth
              autocomplete="off"
              [status]="
                registrationForm.controls.lastName.dirty
                  ? registrationForm.controls.lastName.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                registrationForm.controls.lastName.invalid &&
                registrationForm.controls.lastName.touched
                  ? true
                  : null
              "
              formControlName="lastName"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.lastName.invalid &&
                registrationForm.controls.lastName.touched
              "
            >
              <p
                class="caption status-danger"
                *ngIf="registrationForm.controls.lastName.errors?.required"
              >
                Last Name is required
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-3 col-form-label" for="email">Email: </label>
          <div class="col-9">
            <input
              nbInput
              id="email"
              type="text"
              pattern=".+@.+\..+"
              fullWidth
              autocomplete="off"
              [status]="
                registrationForm.controls.email.dirty
                  ? registrationForm.controls.email.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                registrationForm.controls.email.invalid &&
                registrationForm.controls.email.touched
                  ? true
                  : null
              "
              formControlName="email"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.email.invalid &&
                registrationForm.controls.email.touched
              "
            >
              <p
                class="caption status-danger"
                *ngIf="registrationForm.controls.email.errors?.required"
              >
                Email is required
              </p>
              <p class="caption status-danger" *ngIf="registrationForm.controls.email.errors?.pattern">
                Email should be the real one!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-3 col-form-label" for="userName"
            >User Name:
          </label>
          <div class="col-9">
            <input
              nbInput
              id="userName"
              type="text"
              fullWidth
              autocomplete="off"
              [status]="
                registrationForm.controls.userName.dirty
                  ? registrationForm.controls.userName.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                registrationForm.controls.userName.invalid &&
                registrationForm.controls.userName.touched
                  ? true
                  : null
              "
              formControlName="userName"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.userName.invalid &&
                registrationForm.controls.userName.touched
              "
            >
              <p
                class="caption status-danger"
                *ngIf="registrationForm.controls.userName.errors?.required"
              >
                User Name is required
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-3 col-form-label" for="password"
            >password:
          </label>
          <div class="col-9">
            <input
              nbInput
              id="password"
              fullWidth
              type="password"
              autocomplete="off"
              [status]="
                registrationForm.controls.password.dirty
                  ? registrationForm.controls.password.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                registrationForm.controls.password.invalid &&
                registrationForm.controls.password.touched
                  ? true
                  : null
              "
              formControlName="password"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.password.invalid &&
                registrationForm.controls.password.touched
              "
            >
              <p class="caption status-danger" *ngIf="registrationForm.controls.password.errors.required">
                Password is required
              </p>
              <p class="caption status-danger" *ngIf="registrationForm.controls.password.errors.minLength !== null">
                Password must be 6 character long
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-9 offset-3">
            <div class="row float-right">
              <button type="button" nbButton status="danger" [routerLink]="['/pages/users/user-list']">Cancel</button>

              <input *ngIf="isCreate"
                type="submit"
                style="margin-right: 15px; margin-left: 8px;"
                [disabled]="!registrationForm.valid"
                size="small"
                class="btn btn-primary"
                value="Save"
              />

              <input *ngIf="!isCreate"
                type="submit"
                style="margin-right: 15px; margin-left: 8px;"
                [disabled]="!registrationForm.valid"
                size="small"
                class="btn btn-primary"
                value="Update"
              />

            </div>

          </div>
        </div>
      </div>
    </form>


    <!-- <p>Form Status: {{ registrationForm.status }}</p> -->

  </nb-card-body>
</nb-card>
